html,
body {
  height: 100%;
  padding-bottom: 95px;
}

body {
  background: #396afc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #2948ff,
    #396afc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #2948ff,
    #396afc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
  z-index: 1;
}
.navbar {
  background-color: white;
  box-shadow: none;
}
.top-nav-collapse {
  background-color: white;
}
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: white;
  }
}
@media only screen and (max-width: 768px) {
  .info-card {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .pink-gradient,
  .green-gradient {
    width: 100%;
  }
}

.navbar-content {
  text-align: left;
}

.navbar .dropdown-menu a {
  color: white !important;
}

h3 {
  font-family: "Raleway", sans-serif;
  color: #3478ce;
}

.md-form .prefix.active {
  color: black;
}

.pink-gradient {
  background-color: #ff005d;
}

.green-gradient {
  background-color: #00d49d;
}

.fa-heart {
  color: #ee3847;
}

.btn-success {
  background-color: #00d49d !important;
}

.blue-gradient {
  background-image: linear-gradient(to bottom, #39aade 15%, #2977d0 100%);
}

.header-top img {
  border-radius: 50%;
  max-width: 48px !important;
  width: 100%;
}

.add-event {
  background: #5584ff none repeat scroll 0 0;
  border-radius: 100px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 27px 10px 27px;
  position: relative;
}

.header-rightside .nav > li > a:focus,
.header-rightside .nav > li > a:hover {
  background: none;
  text-decoration: none;
}

.add-project::before {
  background: rgba(0, 0, 0, 0) url("../images/plus.png") no-repeat scroll 0 0;
  content: "";
  height: 12px;
  left: 17px;
  position: absolute;
  top: 12px;
  width: 12px;
}

.header-top .dropdown-toggle {
  color: #5584ff;
}

.header-top .dropdown-menu {
  border: medium none;
  left: -85px;
  padding: 5px;
  background-color: #5584ff;
  color: white;
}

/* Chat Area */

.main-section small {
  font-size: 12px;
}
.main-section h3,
.main-section h5 {
  margin: 0px;
}
.main-section {
  background-color: #fff;
  margin: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.form {
  margin: 0;
}

.head-section {
  border-bottom: 1px solid #e6e6e6;
  clear: both;
  overflow: hidden;
  width: 100%;
}
.headLeft-section {
  width: calc(30% - 1px);
  float: left;
  border-right: 1px solid #e6e6e6;
}
.headLeft-sub {
  padding: 15px;
  text-align: center;
}
.headLeft-sub input {
  width: 60%;
  border-radius: 0px;
  border: 1px solid #e6e6e6;
  padding: 7px;
}
.headLeft-sub button {
  background: #009ef7;
  color: #fff;
  border: 1px solid #e6e6e6;
  padding: 7px 15px;
}
.headRight-section {
  width: 70%;
  float: left;
}
.headRight-sub {
  padding: 10px 15px 0px 15px;
}

.body-section {
  clear: both;
  overflow: hidden;
  width: 100%;
}

.left-section {
  width: calc(30% - 1px);
  float: left;
  height: 500px;
  border-right: 1px solid #e6e6e6;
  background-color: #fff;
  z-index: 1;
  position: relative;
}
.left-section ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.left-section ul li {
  padding: 15px 0px;
  cursor: pointer;
}
.left-section ul li.active {
  background: #009ef7;
  color: #fff;
  position: relative;
}
.mCustomScrollBox,
.mCSB_container {
  overflow: unset !important;
}
.left-section ul li.active .desc .time {
  color: #fff;
}
.left-section ul li.active:before {
  position: absolute;
  content: "";

  border: 5px solid #009ef7;
  top: 0px;
  bottom: 0px;
  border-radius: 0px 3px 3px 0px;
}
.left-section ul li.active:after {
  position: absolute;
  content: "";
  bottom: 0px;
  right: 0px;
  left: auto;
  width: 100%;
  top: 0px;
}

.left-section .chatList {
  overflow: hidden;
}
.left-section .chatList .img {
  width: 60px;
  float: left;
  text-align: center;
  position: relative;
}
.left-section .chatList .img img {
  width: 30px;
  border-radius: 50%;
}

.left-section .chatList .desc {
  width: calc(100% - 60px);
  float: left;
  position: relative;
}
.left-section .chatList .desc h5 {
  margin-top: 6px;
  line-height: 5px;
}
.left-section .chatList .desc .time {
  position: absolute;
  right: 15px;
  color: #c1c1c1;
}
.right-section {
  width: 70%;
  float: left;
  height: 500px;
  background-color: #f6f6f6;
  position: relative;
}

.message {
  height: calc(100% - 68px);
  font-family: sans-serif;
}
.message ul {
  padding: 0px;
  list-style: none;
  margin: 0px auto;
  width: 90%;
  overflow: hidden;
}
.message ul li {
  position: relative;
  width: 80%;
  padding: 15px 0px;
  clear: both;
}
.message ul li.msg-left {
  float: left;
}
.message ul li.msg-left img {
  position: absolute;
  width: 40px;
  bottom: 30px;
}
.message ul li.msg-left .msg-desc {
  margin-left: 70px;
  font-size: 12px;
  background: #e8e8e8;
  padding: 5px 10px;
  border-radius: 5px 5px 5px 0px;
  position: relative;
}
.message ul li.msg-left .msg-desc:before {
  position: absolute;
  content: "";
  border: 10px solid transparent;
  border-bottom-color: #e8e8e8;
  bottom: 0px;
  left: -10px;
}
.message ul li.msg-left small {
  float: right;
  color: #c1c1c1;
}

.message ul li.msg-right {
  float: right;
}
.message ul li.msg-right img {
  position: absolute;
  width: 40px;
  right: 0px;
  bottom: 30px;
}
.message ul li.msg-right .msg-desc {
  margin-right: 70px;
  font-size: 12px;
  background: #cce5ff;
  color: #004085;
  padding: 5px 10px;
  border-radius: 5px 5px 5px 0px;
  position: relative;
}
.message ul li.msg-right .msg-desc:before {
  position: absolute;
  content: "";
  border: 10px solid transparent;
  border-bottom-color: #cce5ff;
  bottom: 0px;
  right: -10px;
}
.message ul li.msg-right small {
  float: right;
  color: #c1c1c1;
  margin-right: 70px;
}
.message ul li.msg-day {
  border-top: 1px solid #ebebeb;
  width: 100%;
  padding: 0px;
  margin: 15px 0px;
}
.message ul li.msg-day small {
  position: absolute;
  top: -10px;
  background: #f6f6f6;
  color: #c1c1c1;
  padding: 3px 10px;
  left: 50%;
  transform: translateX(-50%);
}
.right-section-bottom {
  background: #fff;
  width: 100%;
  padding: 15px;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid #e6e6e6;
  text-align: center;
}
.right-section-bottom input {
  border: 0px;
  padding: 8px 5px;
  width: calc(100% - 150px);
}
.right-section-bottom .btn-send {
  border: 0px;
  padding: 8px 10px;
  float: right;
  margin-right: 30px;
  color: #009ef7;
  font-size: 18px;
  background: #fff;
  cursor: pointer;
}
.upload-btn {
  border: 0px;
  padding: 8px 10px;
  position: relative;
  overflow: hidden;
  float: left;
  color: #009ef7;
  font-size: 18px;
  background: #fff;
  cursor: pointer;
}
.upload-btn .btn {
  border: 0px;
  padding: 8px 10px;
  color: #009ef7;
  font-size: 18px;
  background: #fff;
  cursor: pointer;
}
.upload-btn input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/* Footer  */
.page-footer {
  background-color: #1c2331;
}
