html,
body {
  height: 100%;
}

body {
  background-color: #ebebeb;
  padding-bottom: 65px;
}

@media (min-width: 768px) {
  .view {
    overflow: visible;
  }
}
.navbar {
  z-index: 1;
}
.navbar {
  background-color: white;
  box-shadow: none;
}
.top-nav-collapse {
  background-color: white;
}
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: white;
  }
}

.card {
  box-shadow: none;
}

.navbar-content {
  text-align: left;
}

.navbar .dropdown-menu a {
  color: white !important;
}

h3 {
  font-family: "Raleway", sans-serif;
  color: #3478ce;
}

.md-form .prefix.active {
  color: black;
}

.pink-gradient {
  background-color: #ff005d;
}

.btn-success {
  background-color: #00d49d !important;
}

.blue-gradient {
  background-image: linear-gradient(to bottom, #39aade 15%, #2977d0 100%);
}

/* Footer  */
.page-footer {
  background-color: #1c2331;
}

.header-top img {
  border-radius: 50%;
  max-width: 48px !important;
  width: 100%;
}

.add-event {
  background: #5584ff none repeat scroll 0 0;
  border-radius: 100px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 27px 10px 27px;
  position: relative;
}

.header-rightside .nav > li > a:focus,
.header-rightside .nav > li > a:hover {
  background: none;
  text-decoration: none;
}

.add-project::before {
  background: rgba(0, 0, 0, 0) url("../images/plus.png") no-repeat scroll 0 0;
  content: "";
  height: 12px;
  left: 17px;
  position: absolute;
  top: 12px;
  width: 12px;
}

.add-project:hover {
  color: #ffffff;
}

.header-top i {
  color: #0e1a35;
}

.icon-info {
  position: relative;
}
.navi i {
  font-size: 20px;
}
.label.label-primary {
  border-radius: 50%;
  font-size: 9px;
  left: 8px;
  position: absolute;
  top: -9px;
}

.icon-info .label {
  border: 2px solid #ffffff;
  font-weight: 500;
  padding: 3px 5px;
  text-align: center;
}

.header-top li {
  display: inline-block;
  text-align: center;
}

.header-top .dropdown-toggle {
  color: #5584ff;
}

.header-top .dropdown-menu {
  border: medium none;
  left: -85px;
  padding: 5px;
  background-color: #5584ff;
  color: white;
}

/* Profile CSS */

/*profile*/
.profile-sidebar {
  width: 300px;
  margin-right: 20px;
}

.profile-content {
  overflow: hidden;
}

.profile-sidebar-panel {
  padding: 30px 0 0 !important;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 45%;
  height: 45%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0;
}

.profile-usermenu {
  margin-top: 30px;
  padding-bottom: 20px;
}

@media (max-width: 991px) {
  .profile-sidebar {
    float: none;
    width: 100% !important;
    margin: 0;
  }
  .profile-sidebar > .panel {
    margin-bottom: 20px;
  }
  .profile-content {
    overflow: visible;
  }
}

/*panel*/
.page-panel-fullscreen {
  overflow: hidden;
}

.panel {
  margin-top: 0;
  margin-bottom: 25px;
  padding: 0;
  border-radius: 4px;
}

.panel.light {
  padding: 12px 20px 15px;
  background-color: #fff;
}
