.view {
  background: #36d1dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #5b86e5,
    #36d1dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #5b86e5,
    #36d1dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: cover;
}
@media (min-width: 768px) {
  .view {
    overflow: visible;
    margin-top: -56px;
  }
}
.navbar {
  z-index: 1;
}
.navbar {
  background-color: white;
}
.top-nav-collapse {
  background-color: white;
}
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: white;
  }
}

a.nav {
  color: #5987e6;
}

.form-simple .header {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.form-simple input[type="text"]:focus:not([readonly]) {
  border-bottom: 1px solid #5987e6;
  -webkit-box-shadow: 0 1px 0 0 #5987e6;
  box-shadow: 0 1px 0 0 #5987e6;
}

.form-simple input[type="text"]:focus:not([readonly]) + label {
  color: #4f4f4f;
}

.form-simple input[type="password"]:focus:not([readonly]) {
  border-bottom: 1px solid #5987e6;
  -webkit-box-shadow: 0 1px 0 0 #5987e6;
  box-shadow: 0 1px 0 0#5987E6;
}

.form-simple input[type="password"]:focus:not([readonly]) + label {
  color: #4f4f4f;
}

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1c2331;
}
